body {
    background-image: url('images/background.png');
    padding-top: 50px;
}

/* Center the container */
#container {
  width:480px;
}

.instructions {
  margin-top: 20px;
}

/* Give canvas a background */
canvas {
  background-color:black;
}

.container {
  width: 960px;
}